<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

<!-- Forgot Password Cancellation Modal -->
<div class="modal fade" id="forgot-password-cancellation-modal" tabindex="-1" aria-labelledby="forgot-password-cancellation-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-bg-primary">
        <h1 class="modal-title fs-5" id="forgot-password-cancellation-modal-label">Forgot Password Cancellation</h1>
      </div>
      <div class="modal-body">
        <p>Canceling will terminate your password recovery process.</p>
        <p>Are you sure you want to proceed?</p>
      </div>      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <a href="../controller/forgot-password-controller.php?cancel=true"><button type="button" class="btn btn-primary">Yes</button></a>
      </div>
    </div>
  </div>
</div>